
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a1bbd5;
}
.container {
  display: flex;
  flex-direction: column;
}
.localDT {
  background-color: #022b3a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  color: #e1e5f2;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 15rem;
  width: 60vh;
}
#time {
  font-size: 40px;
  background-color: #022b3a;
  padding: 20px 50px;
  margin-top: 10px;
}
#date {
  font-size: 40px;
  background-color: #022b3a;
  padding: 20px 50px;
  margin-top: 10px;
}
.stopwatch {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #e1e5f2;
  margin-top: 1rem;
  background-color: #022b3a;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 60vh;
  height: 20rem;
}
h1 {
  font-size: 64px;
  font-weight: 300;
}
h2 {
  margin-top: 1rem;
  font-size: 50px;
  font-weight: 300;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons img {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
}
.buttons img:nth-child(2) {
  width: 90px;
}

/* Mobile styles */
@media (max-width: 450px) {
  .localDT{
    width: 30vh;
    height: 10rem;
  }
  .stopwatch{
    width: 30vh;
  height: 10rem;
  }
  #time, #date {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .buttons img {
    width: 1.5rem;
    margin: 0 0.5rem;
  }
  .buttons img:nth-child(2) {
    width: 2.5rem;
  }
}
@media (max-width: 250px) {
  .localDT{
    width: 20vh;
    height: 10rem;
  }
  .stopwatch{
    width: 20vh;
    height: 10rem;
  }
  #time, #date {
    font-size: 1rem;
    padding: 0.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .buttons img {
    width: 1.2rem;
    margin: 0 0.5rem;
  }
  .buttons img:nth-child(2) {
    width: 2.2rem;
  }
}
