body{
    align-items: center;
    text-align: center;
}

div{
    height: 130px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
}

button{
    margin: 20px;
    height: 30px;
}

p{
    font-size: 25px;
}
